@model GroupWork.Models.SkillsModel
@{
    var Update = ViewData["Update"] as string;
    var Delete = ViewData["Delete"] as string;
}
<h1 class="text-center mb-6 mt-2">Update Skills Details</h1>
<form asp-controller="Skills" asp-action="Update" method="post">
    <div class="form-group row mb-3">
        <label for="EmpId" class="col-sm-2 col-form-label">Employee ID:</label>
        <div class="col-sm-5">
            <input type="number" class="form-control custom-input" id="EmpId" name="EmpId" value="@Model.EmpId" readonly>
        </div>
    </div>
    <div class="form-group row mb-3">
        <label for="CompanyId" class="col-sm-2 col-form-label">Skill Type Id:</label>
        <div class="col-sm-5">
            <input type="number" class="form-control custom-input" id="EmpSkillTypeId" name="EmpSkillTypeId" value="@Model.EmpSkillTypeId" required>
        </div>
    </div>
    <div class="form-group row mb-3">
        <label for="CompanyId" class="col-sm-2 col-form-label">Expererience(Years):</label>
        <div class="col-sm-5">
            <input type="number" class="form-control custom-input" id="ExperienceInYears" name="ExperienceInYears" value="@Model.ExperienceInYears" required>
        </div>
    </div>
    <div class="form-group row mb-3">
        <label for="CompanyId" class="col-sm-2 col-form-label">Company ID:</label>
        <div class="col-sm-5">
            <input type="number" class="form-control custom-input" id="CompanyId" name="CompanyId" value="@Model.CompanyId" readonly>
        </div>
    </div>
    <div class="form-group row mb-3">
        <label for="BranchId" class="col-sm-2 col-form-label">Branch ID:</label>
        <div class="col-sm-5">
            <input type="number" class="form-control custom-input" id="BranchId" name="BranchId" value="@Model.BranchId" readonly>
        </div>
    </div>
    <div class="mt-4 ml-5">
        @if (Update != "Allow")
        {

            <button type="submit" class="btn btn-secondary" asp-controller="Skills" asp-action="Update" disabled>Update</button>
        }
        else
        {
            <input type="hidden" name="EmpId" value="@Model.EmpId">
            <button type="submit" class="btn btn-secondary" asp-controller="Skills" asp-action="Update" asp-route-Id="@Model.Id">Update</button>
        }
        @if (Delete != "Allow")
        {
            <button type="button" class="btn btn-danger" onclick="confirmDelete()" disabled>Delete</button>
        }
        else
        {
            <button type="button" class="btn btn-danger" onclick="confirmDelete()">Delete</button>
        }
    </div>
</form>
<style>
    .custom-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 255, 0.2);
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

        .custom-input:focus {
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
</style>
