@model List<GroupWork.Models.AdminAllowanceModelClass>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="mb-8 text-center">Approved Table</h1>
            <form asp-controller="Admin" asp-action="ApprovalDeletion" method="post">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>UserID</th>
                            <th>UserName</th>
                            <th>UserPassword</th>
                            <th>IsActive</th>
                            <th>AddedBy</th>
                            <th>AddedDate</th>
                            <th>UpdatedBy</th>
                            <th>UpdatedDate</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var Approved in Model)
                            {
                                <tr>
                                    <td>@Approved.ID</td>
                                    <td>@Approved.UserID</td>
                                    <td>@Approved.UserName</td>
                                    <td>@(Approved.UserPassword.Length > 10 ? Approved.UserPassword.Substring(0, 10) : Approved.UserPassword)</td>
                                    <td>@Approved.IsActive</td>
                                    <td>@Approved.AddedBy</td>
                                    <td>@Approved.AddedDate</td>
                                    <td>@Approved.UpdatedBy</td>
                                    <td>@Approved.UpdatedDate</td>
                                    <td>
                                        <button class="btn btn-danger">Delete</button>
                                        <input type="hidden" name="ID" value="@Approved.ID" />
                                        <input type="hidden" name="UserID" value="@Approved.UserID" />
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <a href="AdminView" class="btn btn-dark mt-3">Go Back</a>
            </form>
        </div>
    </div>
</div>