@model (List<RoleModel> Roles, Dictionary<int, PermissionModel> RolePermissions)
<h1 class="text-center mb-6">Manage Permissions</h1>
<form form method="post" asp-controller="Admin" asp-action="Permission">
    <table class="table">
        <thead>
            <tr>
                <th>Role ID</th>
                <th>Screen ID</th>
                <th>Menu ID</th>
                <th>Can Read</th>
                <th>Can Update</th>
                <th>Can Delete</th>
                <th>Can Insert</th>
                <th>Company ID</th>
                <th>Branch ID</th>
                <th>Added ID</th>
                <th>Added Date</th>
                <th>Updated By</th>
                <th>Updated Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Roles)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>
                        @if (!Model.RolePermissions.ContainsKey(role.Id))
                        {
                            <input type="number" name="ScreenId" class="form-control"/>
                        }
                        else
                        {
                            var permission = Model.RolePermissions[role.Id];
                            <span>@permission.ScreenId</span>
                        }
                    </td>
                    <td>
                        @if (!Model.RolePermissions.ContainsKey(role.Id))
                        {
                            <input type="number" name="MenuId" class="form-control"/>
                        }
                        else
                        {
                            var permission = Model.RolePermissions[role.Id];
                            <span>@permission.MenuId</span>
                        }
                    </td>
                    <td>
                        <label class="toggle-label">
                            <input type="checkbox" class="toggle-button" name="CanRead" value="1" (CanRead == 1 ? "checked" : "")>
                            <span class="slider round"></span>
                        </label>
                    </td>
                    <td>
                        <label class="toggle-label">
                            <input type="checkbox" class="toggle-button" name="CanUpdate" value="1" (CanUpdate == 1 ? "checked" : "")>
                            <span class="slider round"></span>
                        </label>
                    </td>
                    <td>
                        <label class="toggle-label">
                            <input type="checkbox" class="toggle-button" name="CanDelete" value="1" (CanDelete == 1 ? "checked" : "")>
                            <span class="slider round"></span>
                        </label>
                    </td>
                    <td>
                        <label class="toggle-label">
                            <input type="checkbox" class="toggle-button" name="CanInsert" value="1" (CanInsert == 1 ? "checked" : "")>
                            <span class="slider round"></span>
                        </label>
                    </td>
                    <td>
                        @if (!Model.RolePermissions.ContainsKey(role.Id))
                        {
                            <input type="number" name="CompanyId" class="form-control"  />
                        }
                        else
                        {
                            var permission = Model.RolePermissions[role.Id];
                            <span>@permission.CompanyId</span>
                        }
                    </td>
                    <td>
                        @if (!Model.RolePermissions.ContainsKey(role.Id))
                        {
                            <input type="number" name="BranchId" class="form-control"/>
                        }
                        else
                        {
                            var permission = Model.RolePermissions[role.Id];
                            <span>@permission.BranchId</span>
                        }
                    </td>
                    <td>@role.AddedBy</td>
                    <td>@role.AddedDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@role.UpdatedById</td>
                    <td>@role.UpdatedDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>
                        @if (!Model.RolePermissions.ContainsKey(role.Id))
                        {
                            <button type="submit" class="btn btn-dark" formaction="Permission">Add</button>
                        }
                        else{
                        <button type="submit" class="btn btn-dark" disabled>Add</button>
                        }
                        <input type="hidden" name= "Id" value="@role.Id"/>
                        <input type="hidden" name="AddedBy" value="@role.AddedBy"/>
                        <input type="hidden" name="AddedId" value="@role.AddedDate"/>
                        <input type="hidden" name="UpdatedById" value="@role.UpdatedById"/>
                        <input type="hidden" name="UpdateDate" value="@role.UpdatedDate"/>
                    </td>
                    <td>
                        @if (Model.RolePermissions.ContainsKey(role.Id))
                        {
                            var permission = Model.RolePermissions[role.Id];
                            <button type="submit" class="btn btn-secondary" formaction="UpdatePermission">Update</button>
                            <input type="hidden" name="RoleId" value="@role.Id" />
                            <input type="hidden" name="AddedBy" value="@role.AddedBy" />
                            <input type="hidden" name="AddedId" value="@role.AddedDate" />
                            <input type="hidden" name="UpdatedById" value="@role.UpdatedById" />
                            <input type="hidden" name="UpdateDate" value="@role.UpdatedDate" />
                            <input type= "hidden" name= "BranchId" value="@permission.BranchId"/>
                            <input type="hidden" name="CompanyId" value="@permission.CompanyId" />
                            <input type="hidden" name="MenuId" value="@permission.MenuId" />
                            <input type="hidden" name="ScreenId" value="@permission.ScreenId" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>


