
@model (List<RoleModel> Roles, Dictionary<int, PermissionModel> RolePermissions)
<style>
    table {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        max-width: 600px; /* Adjust the maximum width as needed */
        margin: 0 auto;
        background-color: #fff;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    th, td {
        padding: 12px 15px;
        text-align: center;

    }

    thead {
        background-color: #f0f0f0;
    }

    th {
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f5f5f5;
    }

    tr:hover {
        background-color: #e0e0e0;
    }

</style>
<h1 class="text-center mb-6">Manage Permissions</h1>
    <div class="ml-4 table-container">
<form form method="post" asp-controller="Admin" asp-action="Permission">
    <table class="table" style="border: 1px solid #ccc; border-collapse: collapse; width: 100%;">
        <thead>
            <tr>
                <th style="border-bottom: 1px solid #ccc;">Role ID</th>
                <th style="border-bottom: 1px solid #ccc;">Screen ID</th>
                <th style="border-bottom: 1px solid #ccc;">Menu ID</th>
                <th style="border-bottom: 1px solid #ccc;">Can Read</th>
                <th style="border-bottom: 1px solid #ccc;">Can Update</th>
                <th style="border-bottom: 1px solid #ccc;">Can Delete</th>
                <th style="border-bottom: 1px solid #ccc;">Can Insert</th>
                <th style="border-bottom: 1px solid #ccc;">Company ID</th>
                <th style="border-bottom: 1px solid #ccc;">Branch ID</th>
                <th style="border-bottom: 1px solid #ccc;">Added ID</th>
                <th style="border-bottom: 1px solid #ccc;">Added Date</th>
                <th style="border-bottom: 1px solid #ccc;">Updated By</th>
                <th style="border-bottom: 1px solid #ccc;">Updated Date</th>
                <th style="border-bottom: 1px solid #ccc;"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Roles)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>
                        @if (!Model.RolePermissions.ContainsKey(role.Id))
                        {
                            <input type="number" name="ScreenId" class="form-control"/>
                        }
                        else
                        {
                            var permission = Model.RolePermissions[role.Id];
                            <span>@permission.ScreenId</span>
                        }
                    </td>
                    <td>
                        @if (!Model.RolePermissions.ContainsKey(role.Id))
                        {
                            <input type="number" name="MenuId" class="form-control"/>
                        }
                        else
                        {
                            var permission = Model.RolePermissions[role.Id];
                            <span>@permission.MenuId</span>
                        }
                    </td>
                            <td>
                                <label class="toggle-label">
                                    <input type="checkbox" class="toggle-button" name="CanRead" value="1" (CanRead == 1 ? "checked" : "")>
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td>
                                <label class="toggle-label">
                                    <input type="checkbox" class="toggle-button" name="CanUpdate" value="1" (CanUpdate == 1 ? "checked" : "")>
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td>
                                <label class="toggle-label">
                                    <input type="checkbox" class="toggle-button" name="CanDelete" value="1" (CanDelete == 1 ? "checked" : "")>
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td>
                                <label class="toggle-label">
                                    <input type="checkbox" class="toggle-button" name="CanInsert" value="1" (CanInsert == 1 ? "checked" : "")>
                                    <span class="slider round"></span>
                                </label>
                    <td>
                        @if (!Model.RolePermissions.ContainsKey(role.Id))
                        {
                            <input type="number" name="CompanyId" class="form-control"  />
                        }
                        else
                        {
                            var permission = Model.RolePermissions[role.Id];
                            <span>@permission.CompanyId</span>
                        }
                    </td>
                    <td>
                        @if (!Model.RolePermissions.ContainsKey(role.Id))
                        {
                            <input type="number" name="BranchId" class="form-control"/>
                        }
                        else
                        {
                            var permission = Model.RolePermissions[role.Id];
                            <span>@permission.BranchId</span>
                        }
                    </td>
                    <td>@role.AddedBy</td>
                    <td>@role.AddedDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@role.UpdatedById</td>
                    <td>@role.UpdatedDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>
                        @if (!Model.RolePermissions.ContainsKey(role.Id))
                        {
                            <button type="submit" class="btn btn-dark" formaction="Permission">Add</button>
                        }
                        else{
                        <button type="submit" class="btn btn-dark" disabled>Add</button>
                        }
                        <input type="hidden" name= "Id" value="@role.Id"/>
                        <input type="hidden" name="AddedBy" value="@role.AddedBy"/>
                        <input type="hidden" name="AddedId" value="@role.AddedDate"/>
                        <input type="hidden" name="UpdatedById" value="@role.UpdatedById"/>
                        <input type="hidden" name="UpdateDate" value="@role.UpdatedDate"/>
                    </td>
                    <td>
                        @if (Model.RolePermissions.ContainsKey(role.Id))
                        {
                            var permission = Model.RolePermissions[role.Id];
                            <button type="submit" class="btn btn-dark" formaction="UpdatePermission">Update</button>
                            <input type="hidden" name="RoleId" value="@role.Id" />
                            <input type="hidden" name="AddedBy" value="@role.AddedBy" />
                            <input type="hidden" name="AddedId" value="@role.AddedDate" />
                            <input type="hidden" name="UpdatedById" value="@role.UpdatedById" />
                            <input type="hidden" name="UpdateDate" value="@role.UpdatedDate" />
                            <input type= "hidden" name= "BranchId" value="@permission.BranchId"/>
                            <input type="hidden" name="CompanyId" value="@permission.CompanyId" />
                            <input type="hidden" name="MenuId" value="@permission.MenuId" />
                            <input type="hidden" name="ScreenId" value="@permission.ScreenId" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
</div>
<style>
    .table-container {
        width: 100%;
        overflow-x: auto;
    }
</style>
<style>
    input[type="checkbox"] {
        position: relative;
        width: 40px; /* Half the width */
        height: 20px; /* Half the height */
        -webkit-appearance: none;
        appearance: none;
        background: #0077be;
        outline: none;
        border-radius: 0.85rem; /* Half the border-radius */
        cursor: pointer;
        box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
    }

        input[type="checkbox"]::before {
            content: "";
            width: 20px; /* Half the width */
            height: 20px; /* Half the height */
            border-radius: 50%;
            background: #fff;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.5s;
        }

        input[type="checkbox"]:checked::before {
            transform: translateX(100%);
            background: #fff;
        }

        input[type="checkbox"]:checked {
            background: #00ed64;
        }

    /* Additional style for the checkbox */
    .sliding-checkbox {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

</style>

